Repository elastic/apm-aws-lambda, pull requests merged in 2022-02, with the labels that each got.

#106 Use WaitGroup to ensure go routine finishes sending to APM server
  apm-lambda-extension/main.go
Labels: aws-λ-extension

#101 ci: automate ARN publishing
  .ci/Jenkinsfile
  .ci/create-arn-table.sh
  .gitignore
  apm-lambda-extension/DEVELOPMENT.md
  apm-lambda-extension/Makefile
Labels: aws-λ-extension

#111 [jjbb] enable tag releases in Jenkins
  .ci/jobs/apm-aws-lambda-mbp.yml
Labels: Team:Automation, aws-λ-extension

#112 publish: some regions don't suppport CompatibleArchitectures
  apm-lambda-extension/Makefile
Labels: aws-λ-extension

#113 ci: notify when a release tag has been created and published
  .ci/Jenkinsfile
Labels: Team:Automation

#114 ci: add info traces to help with debugging
  .ci/Jenkinsfile
  .ci/create-arn-table.sh
  apm-lambda-extension/Makefile
Labels: Team:Automation, aws-λ-extension

#117 fix: use env variable for collector endpoint
  apm-lambda-extension/cli/profile/code/collector.yaml
Labels: aws-λ-extension

#116 publish: make a layer public
  apm-lambda-extension/Makefile
Labels: aws-λ-extension

#115 publish: add elastic prefix in the layer name and version as suffix
  .ci/Jenkinsfile
  apm-lambda-extension/Makefile
  apm-lambda-extension/cli/build-and-publish.js
Labels: aws-λ-extension

#121 ci: use ver-major-minor-patch format
  .ci/Jenkinsfile
Labels: aws-λ-extension

#119 fix layer-name when granting public access and get ARN version
  .ci/create-arn-table.sh
  apm-lambda-extension/Makefile
Labels: Team:Automation, aws-λ-extension

#122 Update docs describing the simplified onboarding for the extension.
  docs/aws-lambda-extension.asciidoc
Labels: aws-λ-extension

#126 Log the error when reading the intake req body fails
  apm-lambda-extension/extension/route_handlers.go
Labels: aws-λ-extension
