Repository elastic/apm-aws-lambda, pull requests merged in 2025-03, with the labels that each got.

#619 [docs] Update links to APM agent docs
  docs/reference/aws-lambda-secrets-manager.md
Labels: Team:Docs, aws-λ-extension

#621 [docs] Fix external links
  docs/reference/aws-lambda-secrets-manager.md
  docs/reference/index.md
Labels: documentation, Team:Docs, aws-λ-extension

#625 Update golang.org/x/net in tools/go.mod
  tools/go.mod
  tools/go.sum
Labels: aws-λ-extension

#629 [DOCS] Cleans up release notes
  docs/release-notes/known-issues.md
  docs/release-notes/release-notes.md
  docs/release-notes/toc.yml
Labels: Team:Docs, aws-λ-extension

#630 [docs] Miscellaneous docs clean up
  docs/docset.yml
  docs/reference/aws-lambda-secrets-manager.md
  docs/reference/images/architecture-white.png
  docs/reference/images/secrets-manager.png
  docs/reference/index.md
Labels: documentation, Team:Docs, aws-λ-extension
